@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "S-CoreDream-3Light";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover, :visited, :focus, :link {
  color: #222;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  border: 1px solid #ececec;
}
header .header_utility {
  border: 1px solid #ececec;
  margin: auto;
  max-width: 1400px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
header .header_utility .linked_site {
  display: flex;
}
header .header_utility .linked_site li {
  font-size: 16px;
  color: #333;
  border-right: 1px solid #ececec;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
header .header_utility .linked_site li a {
  line-height: 44px;
}
header .header_utility .login_utility {
  display: flex;
}
header .header_utility .login_utility li {
  font-size: 16px;
  color: #333;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
header .header_utility .login_utility li a {
  line-height: 44px;
  font-size: 14px;
}
header .header_utility .login_utility .login::before {
  content: "\f2f6";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
}
header .header_utility .login_utility .signin::before {
  content: "\f507";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
  padding-right: 7px;
}
header .header_utility .login_utility .lang_btn {
  border: none;
  background-color: white;
}
header .header_utility .login_utility .lang_btn span {
  font-size: 14px;
  line-height: 29px;
}
header .header_utility .login_utility .lang_btn span::before {
  content: "\f0ac";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
}
header .header_utility .login_utility .sitelink_btn {
  background-color: #636676;
  border: none;
  border-radius: 0 0 10px 10px;
  margin-left: 20px;
}
header .header_utility .login_utility .sitelink_btn span {
  font-size: 17px;
  line-height: 29px;
  color: white;
  font-weight: 400;
}
header .header_utility .login_utility .sitelink_btn span::before {
  content: "\f009";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  width: 24px;
  color: white;
  font-weight: 700;
  height: 29px;
}
header nav {
  width: 100%;
  border: 1px solid #ececec;
}
header nav .nav_bar {
  border: 1px 1px px 0px solid #ececec;
  margin: auto;
  max-width: 1400px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_bar .logo_box {
  position: relative;
  display: flex;
}
header nav .nav_bar .logo_box .event_logo {
  margin-left: 40px;
}
header nav .nav_bar .logo_box .event_logo::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 31px;
  background-color: #9c9c9c;
  top: 30px;
  right: 165px;
  transform: translateY(-50%);
}
header nav .nav_bar .menu_list {
  display: flex;
}
header nav .nav_bar .menu_list li {
  height: 100%;
}
header nav .nav_bar .menu_list li a {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 29px;
  font-weight: 900;
  font-size: 21px;
}
header nav .nav_bar .ico_list {
  display: flex;
}
header nav .nav_bar .ico_list .hamberger_ico::before {
  content: "\f0c9";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  font-size: 32px;
  font-weight: 600;
}
header nav .nav_bar .ico_list .searching_ico::before {
  content: "\f002";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  font-size: 32px;
  font-weight: 900;
  padding-left: 15px;
}

.section_container1 {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
}
.section_container1 .section1 {
  max-width: 1400px;
  margin: auto;
  height: 600px;
  padding: 50px 0px 50px;
}
.section_container1 .section1 .section1_grouping {
  display: flex;
  justify-content: space-around;
}
.section_container1 .section1 .section1_grouping .weather_api {
  margin-top: 20px;
}
.section_container1 .section1 .section1_grouping .weather_api i {
  color: #9c9c9c;
}
.section_container1 .section1 .section1_grouping .weather_api .dust_envi {
  color: #9c9c9c;
}
.section_container1 .section1 .section1_grouping .weather_api .dust_eval {
  color: blue;
}
.section_container1 .section1 .section1_grouping .search_box .searching {
  width: 600px;
  height: 52px;
  border: solid 1px #636676;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}
.section_container1 .section1 .section1_grouping .search_box .searching select {
  border: none;
  width: 100px;
  height: 52px;
  padding-left: 10px;
  border-radius: 17px;
  background-color: #f7f7f7;
}
.section_container1 .section1 .section1_grouping .search_box .searching input {
  width: 400px;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
  background-color: #f7f7f7;
}
.section_container1 .section1 .section1_grouping .search_box .searching .search_btn {
  width: 65px;
  height: 52px;
  border: none;
  border-radius: 14px;
  background-color: #636677;
  text-align: center;
}
.section_container1 .section1 .section1_grouping .search_box .searching .search_btn i {
  font-size: 35px;
  color: white;
  padding-top: 6px;
}
.section_container1 .section1 .section1_grouping .search_box .popular_search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.section_container1 .section1 .section1_grouping .search_box .popular_search .popular {
  font-size: 16px;
  margin-right: 30px;
  font-weight: 900;
}
.section_container1 .section1 .section1_grouping .search_box .popular_search .popular_word span {
  font-size: 13px;
  font-family: sans-serif;
  margin-right: 10px;
}
.section_container1 .section1 .section1_grouping .search_box .popular_search button {
  margin-left: 5px;
  border: none;
  background-color: #f7f7f7;
}
.section_container1 .section1 .section1_grouping .search_box .popular_search button i {
  font-size: 20px;
}
.section_container1 .section1 .section1_grouping .corona_api .now_patient {
  letter-spacing: 1px;
}
.section_container1 .section1 .section1_grouping .corona_api .daily_patient {
  width: 210px;
  height: 28px;
  border: none;
  margin: 15px 0px;
  border-radius: 28px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_container1 .section1 .section1_grouping .corona_api .daily_patient .day {
  color: red;
}
.section_container1 .section1 .section1_grouping .now_days {
  font-size: 12px;
  margin-left: 33px;
}
.section_container1 .section1 .section1_banners {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 0px;
}
.section_container1 .section1 .section1_banners .slide_banner .banners {
  width: 835px;
  height: 420px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.section_container1 .section1 .section1_banners .slide_banner .banners img {
  border-radius: 20px;
}
.section_container1 .section1 .section1_banners .slide_banner .banners_btn {
  margin-left: 15px;
}
.section_container1 .section1 .section1_banners .slide_banner .banners_btn button {
  border: none;
  background-color: #f7f7f7;
}
.section_container1 .section1 .section1_banners .slide_banner .banners_btn button i {
  font-size: 22px;
}
.section_container1 .section1 .section1_banners .sungnam_mayor {
  position: relative;
  width: 520px;
  height: 420px;
  background: url(../img/mayor.png) no-repeat;
  background-position: 182px 43px;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .poster {
  padding: 30px 10px 15px;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .mayor_who {
  font-size: 20px;
  padding: 10px 5px 45px;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .mayor_who .mayor_name {
  font-size: 32px;
  font-weight: bold;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .mayor_link_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 46px;
  border: none;
  border-radius: 20px;
  background-color: #f8dee0;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .mayor_link_box .mayor_link {
  font-size: 19px;
  text-align: center;
  font-weight: bolder;
}
.section_container1 .section1 .section1_banners .sungnam_mayor .mayor_link_box .link_btn i {
  font-size: 26px;
  color: #9c9c9c;
}
.section_container1 .section1 .section1_banners .mayor_btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 520px;
  height: 115px;
  background-color: #d84048;
  border-radius: 20px;
}
.section_container1 .section1 .section1_banners .mayor_btn a {
  font-size: 16px;
  color: white;
  margin: 25px 15px 0px;
}
.section_container1 .section1 .section1_banners .mayor_btn .mayor_want::before {
  content: "";
  display: block;
  margin: 0px auto 10px;
  width: 44px;
  height: 44px;
  background-image: url(../img/mayor_btn.png);
}
.section_container1 .section1 .section1_banners .mayor_btn .mayor_promise::before {
  content: "";
  display: block;
  margin: 0px auto 10px;
  width: 44px;
  height: 44px;
  background-image: url(../img/mayor_btn.png);
  background-position: -42px 0px;
}
.section_container1 .section1 .section1_banners .mayor_btn .mayor_photo::before {
  content: "";
  display: block;
  margin: 0px auto 10px;
  width: 44px;
  height: 44px;
  background-image: url(../img/mayor_btn.png);
  background-position: -86px 0px;
}
.section_container1 .section1 .section1_banners .mayor_btn .mayor_call::before {
  content: "";
  display: block;
  margin: 0px auto 10px;
  width: 44px;
  height: 44px;
  background-image: url(../img/mayor_btn.png);
  background-position: -130px 0px;
}

.section_container2 {
  position: relative;
  width: 100%;
  background-color: #ebecec;
}
.section_container2 .section2 {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 520px;
  background-color: #ebecec;
  display: flex;
  justify-content: space-between;
}
.section_container2 .section2 .main_service {
  width: 950px;
  height: 517px;
  padding: 60px 35px 90px 0;
  background: url(../img/main_service_bg01.png) no-repeat, url(../img/main_service_bg02.png) no-repeat;
  background-position: 0px 463px, 626px 378px;
}
.section_container2 .section2 .main_service .service_h {
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 0px 35px;
}
.section_container2 .section2 .main_service .service_part {
  display: flex;
  justify-content: space-between;
}
.section_container2 .section2 .main_service .service_part a {
  width: 185px;
  height: 65px;
  background-color: white;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 21px;
  text-align: center;
  line-height: 3;
}
.section_container2 .section2 .main_service .service_part a img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.section_container2 .section2 .main_service .service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section_container2 .section2 .main_service .service_box a {
  text-align: center;
  line-height: 3.5;
  color: #636677;
  width: 230px;
  height: 55px;
  border-radius: 12px;
  margin: 30px 0px 10px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
.section_container2 .section2 .public_infromation {
  width: 395px;
  height: 517px;
  padding: 60px 0px 90px 0px;
}
.section_container2 .section2 .public_infromation p {
  font-size: 30px;
  font-weight: bolder;
}
.section_container2 .section2 .public_infromation p span {
  font-size: 18px;
}
.section_container2 .section2 .public_infromation .public_info_ico {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.section_container2 .section2 .public_infromation .public_info_ico a {
  width: 90px;
  height: 90px;
  margin: 15px 26px 59px 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
.section_container2 .section2 .public_infromation .public_info_ico a p {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}

.section_container3 {
  position: relative;
  width: 100%;
  background-color: white;
}
.section_container3 .section3 {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 373px;
  background-color: #ffffff;
  padding: 70px 0px 80px;
  display: flex;
  justify-content: space-between;
}
.section_container3 .section3 .notice {
  width: 940px;
  height: 356px;
}
.section_container3 .section3 .notice div .notice_list {
  display: flex;
  justify-content: space-between;
  height: 54px;
  border-radius: 10px;
  border: 1px solid #dedede;
  margin-bottom: 50px;
}
.section_container3 .section3 .notice div .notice_list li {
  border-right: 1px solid #dedede;
  width: 170px;
  height: 54px;
  text-align: center;
  line-height: 2.5;
}
.section_container3 .section3 .notice div .notice_list li a {
  font-size: 20px;
  font-weight: bolder;
}
.section_container3 .section3 .notice div .notice_list button {
  width: 48px;
  height: 54px;
  border: none;
  background-color: white;
}
.section_container3 .section3 .notice div .notice_list button i {
  font-size: 22px;
}
.section_container3 .section3 .notice .notice_info {
  display: flex;
  justify-content: space-between;
}
.section_container3 .section3 .notice .notice_info .info_box {
  width: 260px;
  height: 260px;
  padding: 25px;
  border: 1px solid #e6e8eb;
  border-radius: 15px;
  box-sizing: border-box;
}
.section_container3 .section3 .notice .notice_info .info_box p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.section_container3 .section3 .notice .notice_info .info_box p:nth-child(1) span:nth-child(1) {
  color: red;
  font-size: 18px;
  font-weight: bolder;
}
.section_container3 .section3 .notice .notice_info .info_box p:nth-child(1) span:nth-child(2) {
  width: 45px;
  height: 20px;
  background-color: #636676;
  color: white;
  font-size: 12px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.8;
}
.section_container3 .section3 .notice .notice_info .info_box p:nth-child(2) {
  margin-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bolder;
}
.section_container3 .section3 .notice .notice_info .info_box p:nth-child(3) {
  font-family: sans-serif;
  font-size: 15px;
  color: #888;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.section_container3 .section3 .notice .notice_info .info_list {
  width: 640px;
  height: 260px;
}
.section_container3 .section3 .notice .notice_info .info_list .list_arry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  list-style: inside;
}
.section_container3 .section3 .notice .notice_info .info_list .list_arry li {
  font-size: 16px;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.section_container3 .section3 .notice .notice_info .info_list .list_arry span {
  font-size: 13px;
  line-height: 2.5;
  padding-left: 5px;
}
.section_container3 .section3 .city_hall {
  width: 402px;
  height: 356px;
}
.section_container3 .section3 .city_hall .city_hall_list {
  display: flex;
  justify-content: space-between;
  height: 61px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #dedede;
}
.section_container3 .section3 .city_hall .city_hall_list li {
  width: 135px;
  height: 61px;
  border-right: 1px solid #dedede;
  text-align: center;
  line-height: 3.2;
}
.section_container3 .section3 .city_hall .city_hall_list li a {
  font-size: 19px;
}
.section_container3 .section3 .city_hall .city_hall_banner {
  border-radius: 15px;
  margin-bottom: 15px;
}
.section_container3 .section3 .city_hall .city_hall_banner img {
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}
.section_container3 .section3 .city_hall .city_hall_btn {
  margin-left: 20px;
}
.section_container3 .section3 .city_hall .city_hall_btn button {
  border: none;
  background-color: white;
}

.section_container4 .section4 {
  width: 100%;
  height: 700px;
  background-color: #ccc0c0;
  padding: 50px 0px 50px;
}

footer {
  width: 100%;
  height: 245px;
  background-color: #f8dee0;
}/*# sourceMappingURL=style.css.map */