@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "S-CoreDream-3Light";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover, :visited, :focus, :link {
  color: #222;
  text-decoration: none;
}

header {
  width: 100%;
  border: 1px solid #ececec;
}
header .header_utility {
  border: 1px solid #ececec;
  margin: auto;
  max-width: 1400px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
header .header_utility .linked_site {
  display: flex;
}
header .header_utility .linked_site li {
  font-size: 16px;
  color: #333;
  border-right: 1px solid #ececec;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
header .header_utility .linked_site li a {
  line-height: 44px;
}
header .header_utility .login_utility {
  display: flex;
}
header .header_utility .login_utility li {
  font-size: 16px;
  color: #333;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
header .header_utility .login_utility li a {
  line-height: 44px;
  font-size: 14px;
}
header .header_utility .login_utility .login::before {
  content: "\f2f6";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
}
header .header_utility .login_utility .signin::before {
  content: "\f507";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
  padding-right: 7px;
}
header .header_utility .login_utility .lang_btn {
  border: none;
  background-color: white;
}
header .header_utility .login_utility .lang_btn span {
  font-size: 14px;
  line-height: 29px;
}
header .header_utility .login_utility .lang_btn span::before {
  content: "\f0ac";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  width: 24px;
  font-weight: 900;
  height: 29px;
}
header .header_utility .login_utility .sitelink_btn {
  background-color: #636676;
  border: none;
  border-radius: 0 0 10px 10px;
  margin-left: 20px;
}
header .header_utility .login_utility .sitelink_btn span {
  font-size: 17px;
  line-height: 29px;
  color: white;
  font-weight: 400;
}
header .header_utility .login_utility .sitelink_btn span::before {
  content: "\f009";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  width: 24px;
  color: white;
  font-weight: 700;
  height: 29px;
}
header nav {
  width: 100%;
  border: 1px solid #ececec;
}
header nav .nav_bar {
  border: 1px 1px px 0px solid #ececec;
  margin: auto;
  max-width: 1400px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_bar .logo_box {
  position: relative;
  display: flex;
}
header nav .nav_bar .logo_box .event_logo {
  margin-left: 40px;
}
header nav .nav_bar .logo_box .event_logo::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 31px;
  background-color: #9c9c9c;
  top: 30px;
  right: 165px;
  transform: translateY(-50%);
}
header nav .nav_bar .menu_list {
  display: flex;
}
header nav .nav_bar .menu_list li {
  height: 100%;
}
header nav .nav_bar .menu_list li a {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 29px;
  font-weight: 900;
  font-size: 21px;
}
header nav .nav_bar .ico_list {
  display: flex;
}
header nav .nav_bar .ico_list .hamberger_ico::before {
  content: "\f0c9";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  font-size: 32px;
  font-weight: 600;
}
header nav .nav_bar .ico_list .searching_ico::before {
  content: "\f002";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: gray;
  font-size: 32px;
  font-weight: 900;
  padding-left: 15px;
}/*# sourceMappingURL=style.css.map */